* {
   padding: 0vh;
   margin: 0vh;
   font-family: monospace;
}
.left {
   position: absolute;
   float: left;
   width: 20vw;
   height: 100vh;
   background-color: rgb(41, 107, 250);
   border-top-right-radius: 1vw;
   border-bottom-right-radius: 1vw;
}

.employee-button {
   position: absolute;
   top: 40vh;
   width: 8vmax;
   height: 5vmin;
   margin-left: 4vw;
   font-size: 1.3vmax;
   font-weight: 500;
   color: rgb(0, 0, 0);
   border-radius: 0.7vw;
   cursor: pointer;
   border: none;
   background-color: rgb(255, 255, 255);
   box-shadow: 0vh 0.6vh rgb(138, 168, 231);
   outline: none;
}
.student-button {
   position: absolute;
   top: 50vh;
   width: 8vmax;
   height: 5vmin;
   margin-left: 4vw;
   font-size: 1.3vmax;
   font-weight: 500;
   color: rgb(0, 0, 0);
   border-radius: 0.7vw;
   cursor: pointer;
   border: none;
   background-color: rgb(255, 255, 255);
   box-shadow: 0vh 0.6vh rgb(138, 168, 231);
   outline: none;
}
.employee-button:active,
.student-button:active {
   color: rgb(0, 0, 0);
   background-color: rgb(255, 255, 255);
   transform: translateY(4px);
}

.right {
   position: absolute;
   left: 25vw;
   right: 0vw;
}
.grid {
   display: grid;
   grid-template-columns: auto auto auto auto;
   text-align: center;
   grid-gap: 0.8vh;
   background-color: rgb(98, 143, 240);
   padding: 2vh;
   border-radius: 0.5vw;
   border-top-right-radius: 0vw;
   border-top-left-radius: 0vw;
}
.grid-container {
   padding-top: 1vh;
   margin-left: 1vw;
   margin-right: 6vw;
   width: 70vw;
}
.grid-header {
   display: grid;
   grid-template-columns: auto auto auto auto;
   text-align: center;
   padding: 1vh;
   color: rgb(0, 0, 0);
   background-color: rgb(41, 107, 250);
   border-radius: 1vh;
   border-bottom-right-radius: 0vh;
   border-bottom-left-radius: 0vh;
   font-size: 2.3vh;
}
.grid > div {
   display: grid;
   background-color: #ffffff;
   grid-template-rows: 4vh 2vh;
   padding: 0.8vw;
   width: auto;
   height: 5vh;
   border-radius: 0.6vh;
   font-size: 2.3vmin;
   text-align: center;
   color: rgb(23, 92, 241);
}

.delete-button {
   position: relative;
   margin-left: 6vw;
   width: 6vmax;
   height: 4vmin;
   color: rgb(255, 1, 1);
   border-radius: 0.7vw;
   cursor: pointer;
   font-size: 1vmax;
   border-color: rgb(240, 32, 32);
   background-color: rgb(255, 255, 255);
   box-shadow: 0vh 0.6vh rgb(240, 32, 32);
   border-bottom: none;
   outline: none;
}

.delete-button:active {
   color: rgb(255, 1, 1);
   background-color: rgb(255, 255, 255);
   transform: translateY(4px);
}

.new-employee {
   margin-left: -0.3vmax;
   padding: 4vh;
   border-bottom: none;
}

.new-employee-button {
   border-radius: 0.7vw;
   cursor: pointer;
   border-color: rgb(70, 128, 255);
   background-color: rgb(255, 255, 255);
   box-shadow: 0vh 0.6vh rgb(70, 128, 255);
   border-bottom: none;
   width: 13vmax;
   height: 6vmin;
   outline: none;
   font-size: 1.3vmax;
}

.new-employee-button:active {
   color: rgb(0, 0, 0);
   background-color: rgb(255, 255, 255);
   transform: translateY(4px);
}

h3 {
   margin-top: 0.3vh;
   margin-left: -3vh;
   margin-bottom: 0.6vh;
   font-size: 1.3vmax;
}

.add-container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding: 2vh;
   width: 40vw;
   height: 27vh;
   background-color: white;
   border: solid rgb(41, 107, 250);
   border-radius: 1.1vh;
   margin-left: 1.4vw;
   margin-top: 2vh;
   margin-right: 30vw;
}

.add-container > div {
   padding: 1vh;
   padding-left: 1vw;
}

.name {
   width: 11vmax;
   height: 4vmin;
   border: solid rgb(41, 107, 250);
   border-radius: 1vmin;
   outline: none;
}
.area {
   width: 11vmax;
   height: 4vmin;
   border: solid rgb(41, 107, 250);
   border-radius: 1vmin;
   outline: none;
}
.id {
   width: 11.3vmax;
   height: 4vmin;
   border-radius: 1vmin;
   border: solid rgb(41, 107, 250);
   outline: none;
}
.add-button {
   width: 4vmax;
   height: 4vmin;
   color: rgb(0, 0, 0);
   font-size: 1vmax;
   border-radius: 0.7vw;
   border-bottom: none;
   cursor: pointer;
   border-color: rgb(41, 107, 250);
   background-color: rgb(255, 255, 255);
   box-shadow: 0vh 0.6vh rgb(41, 107, 250);
   outline: none;
   margin-left: 35vw;
}

.add-button:active {
   background-color: rgb(255, 255, 255);
   transform: translateY(4px);
}

.heading {
   margin-left: 3vmax;
   width: 20vw;
   height: 3vmin;
   font-size: 1vmax;
}
